################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TesteJuntoSeguros/obj
/.vs
/TesteJuntoSeguros/bin
/TesteJuntoSeguros/Properties/serviceDependencies.json
/TesteJuntoSeguros/Properties/serviceDependencies.local.json
/TesteJuntoSeguros/Properties/serviceDependencies.local.json.user
/TesteJuntoSeguros.Tests/bin/
/TesteJuntoSeguros.Tests/obj
